.auth-card {
    form {
        .auth-input-icon {
            top: 0;
        }

        .btn-auth-submit {
            background: var(--primary-color);
            border-color: var(--primary-color);
            display: block;
            width: 100%;
        }

        a.text-decoration-underline {
            color: var(--primary-color);
            text-decoration: none !important;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}
